<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AppInfo</key>
    <dict>
      <key>AppName</key>
      <string>DDProperty</string>
      <key>AppIcon</key>
      <string>appicon_th</string>
    </dict>
    <key>NewLaunches</key>
    <dict>
      <key>Enabled</key>
      <true/>
      <key>ApiPath</key>
      <dict>
        <key>constants</key>
        <string>/newhomes/search</string>
        <key>list</key>
        <string>/v2/developerprojects/list</string>
        <key>featured</key>
        <string>/v2/featuredprojects/th/homepage</string>
      </dict>
      <key>Filter</key>
      <dict>
        <key>YearArray</key>
        <array>
          <string>2015</string>
          <string>2016</string>
          <string>2017</string>
          <string>2018</string>
          <string>2019</string>
          <string>2020</string>
        </array>
        <key>PriceArray</key>
        <array>
          <integer>50000</integer>
          <integer>100000</integer>
          <integer>200000</integer>
          <integer>500000</integer>
        </array>
        <key>Districts</key>
        <dict>
          <key>key1</key>
          <string>value1</string>
          <key>key2</key>
          <string>value2</string>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>