<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppInfo</key>
	<dict>
		<key>AppName</key>
		<dict>
			<key>default</key>
			<string>PropertyGuru</string>
			<key>id</key>
			<string>Rumah</string>
			<key>th</key>
			<string>DDProperty</string>
		</dict>
		<key>AppIcon</key>
		<dict>
			<key>sg</key>
			<string>appicon_sg</string>
			<key>default</key>
			<string>appicon_default</string>
			<key>my</key>
			<string>appicon_my</string>
			<key>id</key>
			<string>appicon_id</string>
			<key>th</key>
			<string>appicon_th</string>
		</dict>
	</dict>
	<key>NewLaunches</key>
	<dict>
		<key>Enabled</key>
		<dict>
			<key>default</key>
			<true/>
			<key>sg</key>
			<false/>
			<key>my</key>
			<true/>
		</dict>
		<key>ApiPath</key>
		<dict>
			<key>constants</key>
			<dict>
				<key>default</key>
				<string>/newhomes/search</string>
			</dict>
			<key>list</key>
			<dict>
				<key>default</key>
				<string>/v2/developerprojects/list</string>
			</dict>
			<key>featured</key>
			<dict>
				<key>sg</key>
				<string>/v2/featuredprojects/sg/homepage</string>
				<key>id</key>
				<string>/v2/featuredprojects/id/homepage</string>
				<key>th</key>
				<string>/v2/featuredprojects/th/homepage</string>
				<key>my</key>
				<string>/v2/featuredprojects/my/homepage</string>
			</dict>
		</dict>
		<key>Filter</key>
		<dict>
			<key>YearArray</key>
			<dict>
				<key>default</key>
				<array>
					<string>2015</string>
					<string>2016</string>
					<string>2017</string>
					<string>2018</string>
					<string>2019</string>
					<string>2020</string>
				</array>
			</dict>
			<key>PriceArray</key>
			<dict>
				<key>sg</key>
				<array>
					<integer>50000</integer>
					<real>100000</real>
					<real>200000</real>
					<real>500000</real>
				</array>
				<key>my</key>
				<array>
					<real>30000</real>
					<real>50000</real>
					<real>100000</real>
					<real>250000</real>
					<integer>500000</integer>
				</array>
				<key>th</key>
				<array>
					<integer>50000</integer>
					<real>100000</real>
					<real>200000</real>
					<real>500000</real>
				</array>
				<key>id</key>
				<array>
					<integer>50000</integer>
					<real>100000</real>
					<real>200000</real>
					<real>500000</real>
				</array>
			</dict>
			<key>Districts</key>
			<dict>
				<key>default</key>
				<dict>
					<key>key1</key>
					<string>value1</string>
					<key>key2</key>
					<string>value2</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
